body {
    background-color:lawngreen;
}
h1 {
font-family: sans-serif;
text-align: center;
font-family: sans-serif;
text-transform: uppercase;

}
img {display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; 
}
a[target] {
    font-size: xx-large;
}
a[target="_blank"] {
    border: 5px solid purple;
}
li {
    font-family: Calibri, sans-serif;
    margin-bottom: 5px;
    color: brown;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
font-size:larger;
font-weight: bold;
}
#para{
    color: black;
}

.my-para {
    color: blue;
}
h2 {
    font-family: sans-serif;
    text-align:center;
    font-family: sans-serif;
    text-transform: uppercase;
}

span, h4, .my-para, #para { background-color: palevioletred;}

h3 {
    font-family: sans-serif;
    text-align:center;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: brown; 
    color: gold;
}
